@font-face {
    font-family: "BreeSerif";
    src: url("../fonts/BreeSerif.ttf") format("truetype");
}
 @media(max-width:768px){
    .centerthings{
        position:relative;
        display: flex;
        flex-direction: column;
        align-items: center; 
        min-height: 100vh;
        justify-content: center;
        margin-top: calc(min(4.8vw,66.64px) + 10px);
    }
    #canvas{
        position: relative;
        margin-bottom: 1vh;
    }
    #plane, #drawingplane{
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
    }
    #submit{
        margin-top: 2%;
        width: auto;
        height: auto;
        white-space: normal;
    }
    #error{
        margin-top: 5vh;
    }
    #laptopui{
        display: none;
    }
    #pen, #eraser, #undo,#home, #tutorialbutton, #light, #dark{
        pointer-events: none;
    }
    .imgbuttonsmob{
        pointer-events: none;
    }
    .imagemob{
        pointer-events: auto;
        cursor: pointer;
    }
    #canvas{
        margin-bottom: 1vh;
    }
    #error{
        margin-top: 1vh;
    }
    .imgbuttonsmob{
        background: none;
        border: none;
        padding: 0;
    }
    #smthgmob{
        display: flex;
        position: absolute;
        top: 4px;
        left: 0;
        width: calc(100vw - 20px);
        gap:max(1px,calc(1.8vw - 2px));
    }
    .imagemob{
        display: block;
        height: min(8vw,47px);
        width: auto;
    }
    #homebuttonmob{
        margin-left: auto;
    }
    #equation{
        height: auto;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    #lvlicon{
        height: min(8vw,47px);
    }
 }
 @media(min-width:769px){
    .centerthings{
        margin-top : calc(min(4.8vw,66.64px) + 10px);
        position:relative;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #canvas{
        position: relative;
        margin-bottom: 1vh;
    }
    #plane, #drawingplane{
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
    }
    #submit{
        margin-top: 2%;
        width: auto;
        height: auto;
        white-space: normal;
    }
    #error{
        font-size: min(4vw,51.24px);
        margin-top: 5vh;
    }
    #smthgmob{
        display: none;
    }
    #penmob, #erasermob, #undomob, #lightbuttonmob, #darkbuttonmob{
        pointer-events: none;
    }
    .imgbuttons{
        pointer-events: none;
    }
    .image{
        pointer-events: auto;
        cursor: pointer;
    }
    #leftcolumn{
        display: flex;
        flex-direction: column;
        position: fixed;
        top: min(1vw,15px);
        left: 5px;
        gap:2.5vh;
    }
    .imgbuttons{
        background: none;
        border: none;
        padding: 0;
        cursor: pointer;
    }
    #rightcolumn{
        display: flex;
        flex-direction: column;
        position: fixed;
        top: min(1vw,15px);
        right: 5px;
        gap:2.5vh;
    }
    .image{
        display: block;
        width: min(4.8vw,66.64px);
        height: auto;
    }
    #lvlicon{
        width: min(7.2vw,99.96px);
        height: auto;
    }
 }
#submit{
    font-size: 3vh;
    margin-bottom: 1vh;
}
.aftersubmit{
    margin-bottom: 1vh;
}
.belowsubmit{
    font-size: 3vh;
}
#next{
    width: 6ch;
}
 #plane{
    z-index: 1;
 }
 #drawingplane{
    z-index: 2;
}
#accuracy{
    font-size: 4.5vh;
    font-family: 'BreeSerif', serif;
    margin-bottom: 0vh;
}
#best{
    font-size: 3.8vh;
    font-family: 'BreeSerif', serif;
    margin-top: 0vh;
}
#equation{
    font-size: calc(min(60px,3 * (1vw + 1vh)/2));
    transform: translateY(-37px) ;
    border: 2px solid #DED019;
    background-color: #FFF001;
    /* border: 2px solid #FFF001;
    background-color: #DED019;; */
    padding-left:3vw;
    padding-right: 3vw;
    border-radius: calc((1vw + 1vh));
}

#easteregg{
    cursor: pointer;
}
#submit{
    cursor: pointer;
}
.belowsubmit{
    cursor: pointer;
}
#drawingplane, #plane {
    touch-action: none;
}
#tutorial{
    border: calc((2vw + 2vh) / 10) solid #5077BE;
    background-color: #6495ED;
    border-radius: calc(2 * (1vw + 1vh) / 3);
    position: fixed;
    top: calc((min(6.72vw,79px) / 2) + min(4.8vw,66.64px) + 0.75vw);
    left: 60vw;
    /* left: calc(clamp(203px, 60.75vw, 810px) + 0.2*(100vw - calc(min(7vw,82px) + 20px) - clamp(203px, 60.75vw, 810px))); */
    right:  calc(min(4.8vw,66.64px) + 15px);
    display: flex;
    flex-direction: column;
    gap: 1vh;
    align-items: center;
    /* width: calc(48vw - min(6.72vw,79px)); */
    font-size: 2vw;
    z-index: 670;
}
 #tutorialtab{
    border: calc((2vw + 2vh) / 10) solid #5077BE;
    background-color: #6495ED;
    border-radius: max(calc(2 * (1vw + 1vh) / 3),10px);
    position: fixed;
    top: calc(min(8vw,47px) + 8px);
    right: 5px;
    /* left: calc(100vw - (min(24vw,141px) + max(2px,3.6vw - 4px) + 20px)); */
    width: 40vw;
    display: flex;
    flex-direction: column;
    gap: 1vh;
    align-items: center;
    /* width: calc(48vw - min(6.72vw,79px)); */
    font-size: 2.5vw;
    z-index: 670;
}
#tutorialheadertab{
    margin: 0;
    padding: 0;
}
#tutorialtexttab{
    text-align: center;
    margin: 0;
    padding: 0;
}
#tutorialheader{
    margin: 0;
    padding: 0;
}
#tutorialtext{
    text-align: center;
    margin: 0;
    padding: 0;
}
#tutorial{
    display: none;
    opacity: 0;
    transition: display 0.2s allow-discrete, opacity 0.2s ease;
}
#tutorial.show{
    display: flex;
    opacity: 1;
}
#tutorialtab{
    display: none;
    opacity: 0;
    transition: display 0.2s allow-discrete, opacity 0.2s ease;
}
#tutorialtab.show{
    display: flex;
    opacity: 1;
}
body {
    transition: background-color 0.2s ease;
}
#aftersubmit{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    gap: 0.5vw;
}
#easteregg{
    display: none;
}
#replay, #giveup, #share, #next{
    display: none;;
}
