html, body{
    margin: 0;
    overflow-x: hidden;
    /* background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vw; */
}
@font-face {
    font-family: "BreeSerif";
    src: url("../fonts/BreeSerif.ttf") format("truetype");
}
.smthg{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: max(5vh,50px);
}
#flexleft{
    display: flex;
    height: 100vh;
    flex-direction: column;
    width: clamp(200px, 60vw, 800px);
}
#logo{
    top: 0;
    left: 0;
    position: relative;
    width: clamp(200px, 60vw, 800px);
    height: auto;
    z-index: 2;
}

#levelsicon{
    top: 2000px;   
}
#levelsicon{
    margin-left: 45vw;
    flex:0 0 60%;
    display: grid;
    grid-template-columns: repeat(5,auto);
    gap: 2vw 2vw;
    justify-content: center;
    align-content: start;
    height: fit-content;
}
#playtext{
    margin: 0;
    border: calc((1vw + 1vh)/4) solid #DED019;
    border-radius: 1vw;
    padding-left: 5vw;
    padding-right: 5vw;
    padding-top: 1vh;
    padding-bottom: 1vh;
    display: inline;
    font-size: 5vw;
    font-family: 'BreeSerif',serif;
    background-color: #FFF001; 
    color:#121212;
    grid-column: 1/-1;
    grid-row: 1;
    align-content: center;
    justify-self: center;
    z-index: 670;
}
.lvlbutton{
    width: 15vw;
    height: auto;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}
.lvlimages{
    width: 100%;
    height: auto;
    display: block;
}

#welcometext{
    font-size: clamp(25px,3.4vw,70px);
    font-family: 'BreeSerif', serif;
    text-shadow: 1px 0.3px #121212;
    color: #121212;
    margin: 0;
    margin-left: 10%;
    /*transform: translate(30%,0%); */
}
#welcometexttopborder{
    margin-left: -11111%;
    height: 3px;
    width: 11111111vw;
    background-color: #121212;
    z-index: 966;
}
#welcometextbottomborder{
    margin-left: -11111%;
    height: 3px;
    width: 111111vw;
    background-color: #121212;
    z-index: 966;
}
.welcome{
    flex: 1;
    display: flex;
    min-width: 0;
    flex-direction: column;
    gap: 0.2px;
    margin-left: -10%;
    z-index: 1;
    /* align-items: flex-start;
    transform: translate(-10%,-350%); */
}
 @media(max-width: 911px){
    .welcome{
        margin-top: clamp(60px,25%,200px);
    }
 }
 @media(min-width: 911px){
    .welcome{
        margin-top: clamp(75px,27%,300px);
    }
 }
 @media(min-width:1316px){
    #welcometext{
        text-indent: clamp(139.84px,12%,200px);
    }
 }
.something{
    position: absolute;
    right: 20px;
    top: 1px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
#tutorialbutton{
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}
#tutorial{
    border: calc((2vw + 2vh) / 5) solid #5077BE;
    background-color: #6495ED;
    border-radius: calc(2 * (1vw + 1vh) / 3);
    position: absolute;
    top: calc(min(6.72vw,79px) / 2);
    left: clamp(203px, 60.75vw, 810px);
    right:  calc(min(7vw,82px) + 20px);
    display: flex;
    flex-direction: column;
    gap: 1vh;
    align-items: center;
    /* width: calc(48vw - min(6.72vw,79px)); */
    font-size: 2.5vw;
    z-index: 670;
}
#tutorial{
    display: none;
    opacity: 0;
    transition: display 0.2s allow-discrete, opacity 0.2s ease, transform 0.2s ease;
}
#tutorial.show{
    display: flex;
    opacity: 1;
}
@starting-style {
    #tutorial.show {
        opacity: 0;
    }
}
#tutorialheader{
    margin: 0;
    padding: 0;
}
#tutorialtext{
    text-align: center;
    margin: 0;
    padding: 0;
}
#lightbutton{
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}
#darkbutton{
    background: none;
    border: none;
    padding: 0;
    cursor: pointer
}
.imgbuttons{
    display: block;
    width: min(6vw,70px);
    height: auto;
}
.somethingtab{
    position: absolute;
    right: 1px;
    top: 1px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
#tutorialbuttontab{
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}
#lightbuttontab{
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}
#darkbuttontab{
    background: none;
    border: none;
    padding: 0;
    cursor: pointer
}
.imgbuttonstab{
    display: block;
}

@media (max-width: 571px){
    .somethingtab{
        display: none;
    }
    .something{
        position: absolute;
        right: 1px;
        top: 1px;
        display: flex;
        flex-direction: row-reverse;
        flex-wrap: wrap;
        justify-content: flex-end;
    }
    #tutorialbutton{
        background: none;
        border: none;
        padding: 0;
        cursor: pointer;
    }
    #lightbutton{
        background: none;
        border: none;
        padding: 0;
        cursor: pointer;
    }
    #darkbutton{
        background: none;
        border: none;
        padding: 0;
        cursor: pointer
    }
    .imgbuttons{
        display: block;
        width: 8vw;
        height: auto;
    }
    #welcometext{
        margin-left: 20%;
        font-size: clamp(1px,4vw, 25000px);
    }
    #tutorial{
        border: calc((2vw + 2vh) / 5) solid #5077BE;
        background-color: #6495ED;
        border-radius: calc(2 * (1vw + 1vh) / 3);
        position: absolute;
        top: 9vw;
        left: clamp(200px, 60vw, 800px);
        right:  1px;
        display: flex;
        flex-direction: column;
        gap: 1vh;
        align-items: center;
        /* width: calc(48vw - min(6.72vw,79px)); */
        font-size: 2.5vw;
        z-index: 670;
    }
    #tutorial{
        display: none;
    }
    #tutorialheader{
        margin: 0;
        padding: 0;
    }
    #tutorialtext{
        text-align: center;
        margin: 0;
        padding: 0;
    }
}
@media (min-width: 570px) and (max-width: 769px){
    .something{
        display: none;
    }
    #tutorial{
        display: none;
    }
    .imgbuttonstab{
        display: block;
        width: 7vw;
        height: auto;
    }
    .somethingtab{
        position: absolute;
        right: 15px;
        top: 1px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-end; 
    }
    #colourmodetab{
        flex: 0 0 100%;
        display: flex;
        flex-direction: row-reverse;
        gap: 1vw;
    }
    #tutorialtab{
        border: calc((2vw + 2vh) / 5) solid #5077BE;
        background-color: #6495ED;
        border-radius: calc(2 * (1vw + 1vh) / 3);
        width: calc(98vw - 1px - clamp(199px, 59.535vw, 793.8px));
        display: flex;
        flex-direction: column;
        gap: 1vh;
        align-items: center;
        /* width: calc(48vw - min(6.72vw,79px)); */
        font-size: 2.5vw;
        z-index: 670;
    }
    #tutorialheadertab{
        margin: 0;
        padding: 0;
    }
    #tutorialtexttab{
        text-align: center;
        margin: 0;
        padding: 0;
    }
}
@media (min-width:768px) and (max-width:982px){
    .imgbuttons{
        display: block;
        width: 5vw;
        height: auto;
    }
}
@media (min-width:769px){
    .somethingtab{
        display: none;
    }
}
#tutorialtab{
    display: none;
    opacity: 0;
    transition: display 0.2s allow-discrete, opacity 0.2s ease, transform 0.2s ease;
}
#tutorialtab.show{
    display: flex;
    opacity: 1;
}
@starting-style {
    #tutorialtab.show {
        opacity: 0;
    }
}
.buttons{
    z-index: 967;
}
/* @media(min-width:1500px) and (max-width:1570px){
    .welcome{
        margin-top: 300px;
    }
}
@media(min-width:1570px){
    .welcome{
        margin-top: 270px;
    }
}
@media(min-width:1430px) and (max-width:1500px){
    .welcome{
        margin-top: 20%;
    }
}
@media(min-width:1270px) and (max-width:1430px){
    .welcome{
        margin-top: 22%;
    }
}
@media(min-width: 985px) and (max-width:1270px){
    #logo{
        margin-top: -10%;
    }
    .welcome{
        margin-top: 27%;
    }
}
@media(min-width:773px) and (max-width: 985px){
    #logo{
        margin-top: -19%;
    }
    .welcome{
        margin-top: 25%;
    }
}
@media(min-width:702px) and (max-width:773px){
    #logo{
        margin-top: -22%
    }
    .welcome{
        margin-top: -50%;
    }
    #welcometext{
        text-indent: 40px;
    }
}
@media(max-width:702px){
    .welcome{
        margin-top:clamp(300px,80%.700px);
    }
    #welcometext{
        text-indent: 20px;
    }
}
@media(min-width:650px) and (max-width:702px){
    #logo{
        margin-top: -40%;
    }
}
@media(min-width:560px) and (max-width:650px){
    #logo{
        margin-top:-56%;
    }
}
@media(min-width:526px) and (max-width:560px){
    #logo{
        margin-top:-70%
    }
}
@media(min-width: 417px) and (max-width:526px){
    #logo{
        margin-top: -400px;
    }
}
@media(max-width: 417px){
    #logo{
        margin-top: -650px;
    }
} */
body {
    transition: background-color 0.2s ease;
}